@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-demo {
    width: 15ch;
    animation: typing 2s steps(22), blink .5s step-end alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}

@keyframes typing {
    0% {
        width: 0;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 13ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.typing-demo:nth-child(even) {
    animation-delay: 5s;
}

/* Add this block for the delay after one cycle */
@keyframes repeatAnimation {
    0%, 50%, 100% {
        animation-timing-function: steps(22);
        border-right-width: 3px; /* Show the border at the beginning and end of the animation */
    }
    50% {
        animation-timing-function: steps(22);
        animation-delay: 3s;
        border-right-width: 0; /* Hide the border after 50% of the animation */
    }
}

.typing-demo {
    animation: typing 2s repeatAnimation infinite, blink .5s step-end infinite alternate;
}
